In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
from dateutil import rrule
from datetime import datetime

def get_month_intervals(start_date, end_date):
    # Convert start_date and end_date to datetime objects
    start = datetime.strptime(start_date, "%Y-%m")
    end = datetime.strptime(end_date, "%Y-%m")
    
    # Generate a list of the first day of each month between start and end dates
    months = list(rrule.rrule(rrule.MONTHLY, dtstart=start, until=end))
    month_intervals = [date.strftime("%Y-%m") for date in months]
    
    return month_intervals

In [5]:
st = '2006-03'
et = '2024-03'
month_intervals = get_month_intervals(st, et)

In [6]:
# ["SPY","BND","QQQ","VNQ","IWM","VIG","BIL"]
stock_list = ["SPY",]

df = pd.DataFrame({'Date':month_intervals})
for s in stock_list:
    stock = yf.Ticker(s)
    tmp_df = stock.dividends
    tmp_df = tmp_df.reset_index()
    tmp_df = tmp_df.rename(columns = {'Dividends':s,'index':'Date'})
    tmp_df['Date'] = tmp_df['Date'].dt.strftime('%Y-%m')
    df.merge(tmp_df,how='left', on='Date')

In [34]:
df.fillna(0, inplace=True)

In [25]:
stock.history(period='d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-03-25 00:00:00-04:00,519.799988,520.950012,519.609985,519.77002,48444300,0.0,0.0,0.0

In [8]:
stock_list = ["SPY",]
for s in stock_list:
    stock = yf.Ticker(s)

In [10]:
data = yf.download("SPY", period="1mo")

[*********************100%%**********************]  1 of 1 completed

In [11]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-02-26,508.299988,508.750000,505.859985,505.989990,504.422729,50386700
2024-02-27,506.700012,507.160004,504.750000,506.929993,505.359833,48854500
2024-02-28,505.329987,506.859985,504.959991,506.260010,504.691925,56506600
2024-02-29,508.070007,509.739990,505.350006,508.079987,506.506256,83924800
2024-03-01,508.980011,513.289978,508.559998,512.849976,511.261475,76805900